RewriteEngine On

#accept loading of actual files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#send everything else to the question9 backend page
RewriteRule ^(.*)$ homework-5-question-9.php?url=$1 [L,QSA]
